{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center mx-auto">
        <h2>Добавление автора</h2>
        <div class="detail-book col-12">
            <div class="book-item col-6 mx-auto">
                <p>Имя</p>
                <input id="author-name" type="text" class="form-control">
            </div>
            <div class="book-buttons flex-container flex-column mx-auto">
                <button class="book-button btn btn-primary" id="add-author-button">Добавить автора</button>
            </div>
        </div>
    </div>
{% endblock %}