{% extends 'base.html.twig' %}

{% block body %}
    <div class="mx-auto">
    <h2 class="text-center">Список авторов</h2>
    <div id="result-block">
        <ol id="authors-block">
            {% for author in authors %}
                <li>
                    <a href="{{ url('admin-detail-author', {'id': author.id}) }}">
                        {{ author.name }}
                    </a>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}