{% extends 'base.html.twig' %}

{% block body %}
    <h2>Добавление автора</h2>
    <div class="detail-book">
        <div class="book-item">
            <p>Имя</p>
            <input id="author-name" type="text">
        </div>
        <div class="book-buttons flex-container flex-column">
            <button class="book-button" id="add-author-button">Добавить автора</button>
        </div>
    </div>
{% endblock %}